@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {}


@media screen and (max-width: 712px) {
  h1 {
    font-family: '__Roboto_da76d2', '__Roboto_Fallback_da76d2' !important;
  }

  .addBg {
    background-color: #00000080 !important;
  }
}


p {
  font-size: 18px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}